<div id="page-top">
  <div id="wrapper">
    <app-header></app-header>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-light navbar-expand bg-white text-right shadow mb-4 topbar static-top">
          <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop"
              type="button"><i class="fas fa-bars"></i></button>
            <a class="btn btn-danger btn-icon-split" role="button">
              <span class="text-right text-white text" (click)="logout.logout()">Logout</span></a></div>
        </nav>
        <div class="container-fluid">
          <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Drone Dashboard: Pilot {{pilotName}}</h3><a [routerLink]="['/reportCreate']"
              class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button"><i
                class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="text-primary font-weight-bold m-0">Todo List</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                      <div class="col mr-2">
                        <h6 class="mb-0"><strong>Drone Livestream @ lapanga</strong></h6><span class="text-xs">10:30
                          AM</span>
                      </div>
                      <div class="col-auto">
                        <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox"
                            id="formCheck-1"><label class="custom-control-label" for="formCheck-1"></label></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                      <div class="col mr-2">
                        <h6 class="mb-0"><strong>Drone Livestream @ Dahej</strong></h6><span class="text-xs">11:30
                          AM</span>
                      </div>
                      <div class="col-auto">
                        <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox"
                            id="formCheck-2"><label class="custom-control-label" for="formCheck-2"></label></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col">
              <div class="row">
              </div>
              <div class="row">
                <div class="col">
                  <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                      <div class="row">
                        <div class="col-lg-7 col-xl-12">
                          <div class="p-5">
                            <div class="text-center"></div>
                            <form class="user">
                                <h5 style="padding: 4px;">Send Message to Admin@Omnipresent</h5>
                              <div class="form-group"><input class="form-control form-control-user" type="email"
                                  id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Message Here"
                                  name="email"></div>
                              <button class="btn btn-primary btn-block text-white btn-user" type="submit">
                                  Send Message</button>
                              <hr>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="isSent" class="alert alert-success" role="alert" style="margin-top: 8px;">
                <span><strong>Sent&nbsp;</strong></span></div><button class="btn btn-primary" type="button"
                style="width: 90px;height: 38px;margin: 12px;">Send</button>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
</div>
