<footer class="bg-white sticky-footer">
  <div class="container my-auto">
    <div class="text-center my-auto copyright"><span>Copyright © Hindalco</span></div>
    <div class=" my-auto copyright"><span>Company: Omnipresent Robot Technologies Pvt. Ltd.</span></div>
    <!-- <div class=" my-auto copyright"></div> -->
    <div class=" my-auto copyright"><span>Email: support@omnipresenttech.com&nbsp;&nbsp; | &nbsp;&nbsp;</span><span>Contact: 9813381314</span></div>
    <!-- <div class=" my-auto copyright"></div> -->
  </div>
</footer>
