<div id="page-top">
  <div id="wrapper">
    <app-header></app-header>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-light navbar-expand bg-white text-right shadow mb-4 topbar static-top">
          <div class="container-fluid">
            <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button">
              <i class="fas fa-bars"></i>
            </button>
            <a class="btn btn-danger btn-icon-split" role="button">
              <span class="text-right text-white text" (click)="logout.logout()">Logout</span>
            </a>
          </div>
        </nav>
        <div class="container-fluid">
          <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Drone Dashboard: Pilot for {{pilotName | titlecase}}</h3>
            <a [routerLink]="['/reportCreate']" class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button">
              <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
          </div>
          <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-left-primary py-2">
                <div class="card-body" (click)="toggleTaskStatus()">
                  <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                      <div class="text-dark font-weight-bold h5 mb-0"><span>Mission Status -
                          {{startStatus | uppercase}}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-book-open fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow py-2">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <button class="btn alert-warning"> Day </button> &nbsp;&nbsp;&nbsp; <ui-switch
                        [(ngModel)]="enable"></ui-switch> &nbsp;&nbsp;&nbsp; <button
                        class="btn alert-dark">Night</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="text-primary font-weight-bold m-0">Instructions from Plant</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li *ngFor="let todo of todoList" class="list-group-item">
                    <div class="row align-items-center no-gutters">
                      <div class="col mr-2">
                        <h6 class="mb-0"><strong>{{todo.text}}</strong></h6>
                      </div>
                      <div class="col-auto">
                        <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox"
                            id="formCheck-1"></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <app-chat></app-chat>
            </div>
          </div>
        </div>
      </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
      <app-footer></app-footer>
    </div>
  </div>