<div id="page-top">
    <div id="wrapper">
        <app-header></app-header>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white text-right shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><a
                            class="btn btn-danger btn-icon-split" role="button"><span
                                class="text-right text-white text" (click)="logout.logout()">Logout</span></a></div>
                </nav>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Schedule For Operations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                            aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th *ngIf="isAdmin || isMainBranch">Plant</th>
                                        <th>Date</th>
                                        <th>Window(s)</th>
                                        <th>Remarks</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let schedule of schedules">
                                        <td *ngIf="isAdmin || isMainBranch">{{schedule.plant | titlecase}}</td>
                                        <td>{{schedule.date | date }}</td>
                                        <td>{{schedule.window}}</td>
                                        <td>{{schedule.remark}}</td>
                                        <td>{{schedule.type}}</td>
                                        <td *ngIf="isPilot">
                                            Remarks: 
                                            <input type="text" placeholder="Enter Remarks Here" name="message" [(ngModel)]="remark">
                                            <button class="btn-success" (click)="addRemark(schedule.id)"><i class="fa fa-save"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td *ngIf="isAdmin || isMainBranch"><strong>Plant</strong></td>
                                        <td><strong>Date</strong></td>
                                        <td><strong>Window(s)</strong></td>
                                        <td><strong>Remarks</strong></td>
                                        <td><strong>type</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</div>